.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.medal {
  width: 50px;
}
.runner {
  font-size: 20px;
}
.distance {
  font-size: 15px;
}
.time {
  color: aqua;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.search-container {
  display: flex;
  gap: 10px;
}
.search-container input {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.146);
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  color: white;
}
.search-container input::placeholder {
  color: white;
}

.search-container button {
  padding: 8px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
}
