.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.medal {
  width: 50px;
}
.runner {
  font-size: 20px;
}
.distance {
  font-size: 15px;
}
.time {
  color: aqua;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

