.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  font-weight: bold;
  list-style-type: none;
  color: black;
}
.nav {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: aqua;
}
.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: aqua;
}

.App-header {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
  }
  .nav {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: grey;
  }
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: grey;
  }
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.parent-div {
  display: grid;
  grid-template-columns: 50% 50% 50%;
}
